
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: Insecure rules ahead.
    // These rules grant open access to your entire database.
    // This is useful for testing but MUST be secured before production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
